a {
    text-decoration: none;
    color: #3366CC;
    font-size: 22px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
a:hover {
    color: #6699FF; /* #7A7A7A */
}
a.button {
    font: bold 25px monospace;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #7A7A7A;
    color: #FFFFFF;
    padding: 4px 10px 4px 10px;
}
a.button:hover {
    background-color: #4A4A4A;
}
a.button:active {
    background-color: #5C5C5C;
}
a.image {
    color: #151515;
    background-color: #151515;
}
/*a > img {
    color: #151515;
}*/
.center {
    text-align: center;
    /*display: block;
    margin-left: auto;
    margin-right: auto;*/
}
.left {
    text-align: left;
    /*float: left;*/
    /*display: block;
    margin-right: auto;*/
}
.right {
    text-align: right;
    /*float: right;*/
    /*display: block;
    margin-left: auto;*/
}
a.center, img.center, div.center, input.center, button.center, table.center, iframe.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a.left, img.left, div.left, input.left, button.left, table.left, iframe.left {
    /*float: left;*/
    display: block;
    margin-right: auto;
}
a.right, img.right, div.right, input.right, button.right, table.right, iframe.right {
    /*float: right;*/
    display: block;
    margin-left: auto;
}
#blue, .blue {
    color: #3366CC;
}
html /* body */ {
    background-color: #151515;
    
    /*height: 100%;*/
    
    /*background: -webkit-linear-gradient(#101010, #7A7A7A);*/ /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(#101010, #7A7A7A);*/ /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(#101010, #7A7A7A);*/ /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(#101010, #7A7A7A);*/ /* Standard syntax (must be last) */

    /* IE10 Consumer Preview */ 
    /*background-image: -ms-linear-gradient(top, #101010 0%, #303030 100%);*/

    /* Mozilla Firefox */ 
    /*background-image: -moz-linear-gradient(top, #101010 0%, #303030 100%);*/

    /* Opera */ 
    /*background-image: -o-linear-gradient(top, #101010 0%, #303030 100%);*/

    /* Webkit (Safari/Chrome 10) */ 
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #101010), color-stop(1, #303030));*/

    /* Webkit (Chrome 11+) */ 
    /*background-image: -webkit-linear-gradient(top, #101010 0%, #303030 100%);*/

    /* W3C Markup, IE10 Release Preview */ 
    /*background-image: linear-gradient(to bottom, #101010 0%, #303030 100%);*/
}
button {
    padding: 4px 8px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
body.word_doc {
    tab-interval:.5in;
    width:95%;
    max-width:1000px;
    margin:auto;
}
.bold {
    font-weight: bold;
}
code {
    font-size: 20px;
    background-color: #151515; /*#4C4C4C;*/
    color: white;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}
code.background-fill {
    background: #5A5A5A;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;   
}
code.prettyprint {
    font-size: 20px;
    background-color: #151515; /*#4C4C4C;*/
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.date {
    text-align: center;
    font-size: 15px;
    font-family: monospace;
    color: #7A7A7A;
}
div.bar {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #7A7A7A;
}
div.bar_inner {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #7A7A7A;
}
div.centerbody {
    /* background-color: #202020; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1000px;
}
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    text-align: center;
}
h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}
h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
}
.image_focus:hover {
    opacity: 0.3;
    /*-moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;*/
}
input {
    padding: 2px 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
input.button {
    padding: 4px 8px;
    font-size: 20px;
}
input.calculator, textarea.calculator {
    font-family: monospace;
}
.mono, #mono{
    font-family: monospace;
}
ol > li {
    padding-top: 10px;
}
p, ul, ol {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /*font-family: 'Nobile', Helvetica, Arial, sans-serif;*/
    font-size: 20px;
    color: white;
}
pre {
    font-size: 20px;
    color: white;
}
pre.no-border {
    border: none;
}
pre.prettyprint, pre.prettyprint > ol {
    font-family: monospace;
    background-color: #151515;
    font-size: 16px;
}
pre.prettyprint > ol > li {
    padding-top: 0px;   
}
pre.over100lines > ol {
    margin-left: 16px;
    padding-left: 42px; /* to stop issue with overflow scroll bar cutting off numbers */
}
.p {
    font-size: 20px;
}
span.algebra {
    font-family: monospace;
}
span.change {
    color: #FF00FF;
}
span.comment {
    color: #7A7A7A;   
}
table {
    margin: auto;
}
table, th, td {
    border: 1px solid #888888;
    border-collapse: collapse;
}
table.clear td, table.clear th, table.clear {
    border: 0px solid #888888;
}
table.default, th.default, td.default {

}
textarea {
    padding: 2px 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
td {
    color: white;
    /*background: #e8edff;*/
}
th, td {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 22px;
    padding: 25px;
}
th {
    text-align: center;
    color: #FF00FF;
    /*background: #b9c9fe;*/
}
.white {
    color: white;   
}




/* FONTS */

/* latin */
@font-face {
  font-family: 'Corben';
  font-style: normal;
  font-weight: 700;
  src: local('Corben'), url(https://fonts.gstatic.com/s/corben/v8/ljkAb4w-83fUltRn9aENdRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* latin */
@font-face {
  font-family: 'Nobile';
  font-style: normal;
  font-weight: 400;
  src: local('Nobile'), local('Nobile-Regular'), url(https://fonts.gstatic.com/s/nobile/v7/n2eiYI_r3ZOqEpd8GhNldPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(fonts/source_sans_pro.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(fonts/raleway.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(fonts/muli.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Josefin Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Josefin Slab'), local('JosefinSlab'), url(fonts/josefin_slab.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(fonts/ubuntu.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/open_sans.woff2) format('woff2');
}